@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;

}

*:focus {
  outline: none;
}

body{
  background-color: gray;
  font-family: 'Roboto';

}

.chatContainer{
  width: 375px;
  margin: auto;
  background-color: #E5E5E5;
  overflow-x: hidden;

}

.sidebarContainer{
  width: 375px;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
}

ion-icon{
  cursor: pointer;
}

.shadowContainer{
  height: 100%;
  width: 120px;
  cursor: pointer;

}

.openSidebarContainer{
  display: flex;
}

.closeSidebar{
  display: none;
}

.sidebarContent{
  background-color: white;
  top: 0;
  position: absolute;
  width: 259px;
  padding: 17px;
  height: 100%;
  margin-left: 115px;
  overflow: auto;

}
.sidebarContent div{
  display: flex;
  justify-content: space-between;
}

.participantes{
  display: flex;
  flex-direction: column;
  
}

.participantes div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkMark{
  color: white;  
  width: 4px;
}

.checked ion-icon{
  color: green
}

.onlineParticipant{
  cursor: pointer;
}

.checked .onlineParticipant p,
.checked .iconPerson,
.checked .visibilityOption p,
.checked .unlockIcon,
.checked .lockIcon,
.checked .everybody {
  color: black;
}

.visibilities{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.visibilityOption div{
  display: flex;
  align-items: center;
  cursor: pointer;
}

h3{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 25px;
  color: #000000;
}


.sidebarContainer ion-icon {
  width: 24px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 22px;
  padding-left: 22px;
  height: 80px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  width:375px;
  z-index: 1;
  top: 0;
  background-color: white;
}

.logo{
  width: 75px;
  height: 53px;
}

ion-icon{
  width: 43px;
  height: 41px;
}

.chatContent{
 background-color: #E5E5E5;
 height: 590px;
 overflow-y: scroll;
 padding-top: 110px;
 overflow-x: hidden;
}

.message{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  min-height: 40px;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 2px;
  font-size: 14px;
}

.name{
  font-weight: 700;
}

.time {
  color: #636161;
}

.private-message{
  background-color: #FFDEDE;;
}

.status-message{
  background-color: #cbc8c8;
}

p{
  margin-left: 6px;
}

.footer{
  height: 80px;
  position: fixed;
  width: inherit;
  top: 587px;
  background: white;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

input{
  height: 65px;
  width: inherit;
  border: none;
  padding-left: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  position: relative;
  color: #000000;
}

input::placeholder{
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.send{
  width: 26px;
  position: absolute;
  right: 18px;
  bottom: 25px;
}

.privateTo{
  bottom: 12px;
  left: 15px;
  position: absolute;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
}

.openPrivateTo{
  color: black;
}